{extend name="layout" /}

{block name="title"}图表{/block}

{block name="content"}
        <div class="container-fiuld" id="main" style="padding: 20px 20px 0 20px;"></div>
{/block}

{block name="css"}

{/block}

{block name="javascript"}
    <script>
        $(function() {
            Highcharts.setOptions({
                global: {
                    timezoneOffset: -8 * 60
                }
            });
            $(window).resize(function() {
                $(".chart").css("height", ($(window).height() - 70) + "px");
            });
            var createContainer = function(to, title, data) {
                var div = $('<div />').css({
                        "height": ($(window).height() - 70) + "px"
                    }).addClass("chart");
                $(to).append(
                    $('<div />').addClass("panel panel-default").append(
                        $('<div />').addClass("panel-body").append(div)
                    )
                );
                div.highcharts({
                    chart: {
                        type: 'spline'
                    },
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: title
                    },
                    plotOptions: {
                        series: {
                            lineWidth: 1.5,
                            marker: {
                                radius: 2
                            }
                        }
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: {
                            millisecond: '%Y-%m-%d %H:%M:%S.%L',
                            second: '%Y-%m-%d %H:%M:%S',
                            minute: '%Y-%m-%d %H:%M',
                            hour: '%Y-%m-%d %H:%M',
                            day: '%Y-%m-%d',
                            week: '%Y-%m-%d',
                            month: '%Y-%m',
                            year: '%Y'
                        }/*,
                        breaks: {
                            breakSize: 1,
                            from: 64,
                            to: 96,
                            repeat: 64
                        }*/
                    },
                    tooltip: {
                        dateTimeLabelFormats: {
                            millisecond: '%Y-%m-%d %H:%M:%S.%L',
                            second: '%Y-%m-%d %H:%M:%S',
                            minute: '%Y-%m-%d %H:%M',
                            hour: '%Y-%m-%d %H:%M',
                            day: '%Y-%m-%d',
                            week: '%Y-%m-%d',
                            month: '%Y-%m',
                            year: '%Y'
                        },
                        split: true,
                        padding: 2
                    },
                    yAxis: {
                        title: {
                            text: '报价'
                        }
                    },
                    series: data,
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    exporting: {
                        enabled: false
                    }
                });
            };

            var chartData = {$chartData}, infoDataRaw = {$infoData}, infoData = {}, container = {}, lastTimestamp = 0;
            var getContainer = function(depDate, depTime) {
                return depDate + (depTime ? (" " + (['00:00 ~ 05:59', '06:00 ~ 11:59', '12:00 ~ 17:59', '18:00 ~ 23:59'][~~(~~depTime / 600)])) : '');
            };
            for (var i = 0; i < infoDataRaw.length; i++) {
                infoData[infoDataRaw[i]["dep_date"]] === void 0 && (infoData[infoDataRaw[i]["dep_date"]] = {});
                infoData[infoDataRaw[i]["dep_date"]][infoDataRaw[i]["flight_no"]] = infoDataRaw[i]["dep_time"];
                container[getContainer(infoDataRaw[i]["dep_date"], infoDataRaw[i]["dep_time"])] === void 0 && (container[getContainer(infoDataRaw[i]["dep_date"], infoDataRaw[i]["dep_time"])] = {});
            }
            var getDepTime = function(depDate, flightNo) {
                return infoData[depDate] !== void 0 && infoData[depDate][flightNo] !== void 0 ? infoData[depDate][flightNo] : false;
            };
            for (var i = 0; i < chartData.length; i++) {
                var depDate = chartData[i]["dep_date"],
                    flightNo = chartData[i]["flight_no"],
                    depTime = getDepTime(depDate, flightNo),
                    containerTitle = getContainer(depDate, depTime),
                    flightNoAndDepTime = flightNo + (depTime ? (' ' + (depTime.substr(0, 2)) + ':' + (depTime.substr(-2))) : '');
                container[containerTitle] === void 0 && (container[containerTitle] = {});
                container[containerTitle]["series"] === void 0 && (container[containerTitle]["series"] = {});
                container[containerTitle]["series"][flightNoAndDepTime] === void 0 && (container[containerTitle]["series"][flightNoAndDepTime] = []);
                container[containerTitle]["series"][flightNoAndDepTime].push([~~chartData[i]["create_at"] * 1000, ~~chartData[i]["price"]]);
            }
            for (var i in container) {
                var tmp = [];
                for (var j in container[i]["series"]) {
                    tmp.push({"name": j, "data": container[i]["series"][j]});
                }
                container[i]["series"] = tmp;
            }
            for (var i in container) {
                createContainer("#main", i, container[i]["series"]);
            }
        });
    </script>
{/block}
